data_path: ./data/cifar10
seed: 0
# Which dataset to train on: {cifar10, cifar10_iid, femnist, femnist_digits}.
dataset: cifar10_iid
# Which model to train: {simple_dnn,simple_cnn,resnet18}.
model_name: simple_cnn
# Which algorithm to train with: {fedavg,fedprox}.
algorithm_name: fedavg

# Mean datapoint per user and distribution to sample from. 
# Does not affect femnist because the datapoints are already 
# divided into real users.
mean_datapoints_per_user: 50
datapoints_per_user_distribution: constant
# Only used for "cifar10" dataset
#- partition_alpha: 0.1

# Change to run DP baseline.
central_privacy_mechanism: none
#- central_privacy_mechanism: gaussian_moments_accountant
central_epsilon: 2.0
central_delta: 1e-6
central_privacy_clipping_bound: 0.4
noise_cohort_size: 1000

learning_rate: 1.0
cohort_size: 50
val_cohort_size: 0
central_num_iterations: 1500
local_num_epochs: 1
local_learning_rate: 0.1
weight_by_samples: false
evaluation_frequency: 10
local_batch_size: 10
central_eval_batch_size: 10000

#wandb_project_id: testing
# This result in all algorithm parameters being added, even though
# you only select 1 algorithm. Useful for reusing the same config
# for multiple algorithms.
add_all_arguments: true

# FedProx params from benchmark-algos/sweep-fedprox
mu: 0.01

# AdaFedProx override default params
adafedprox_metric_name: "Central val | loss"
adafedprox_adapt_frequency: 10

# SCAFFOLD override default params
scaffold_population: 1000
