data_path: './data/flair/flair_federated.hdf5'
dataset: flair
model_name: multi_label_cnn
model_type: resnet18
# Which algorithm to train with: {fedavg,fedprox}.
algorithm_name: fedavg
central_optimizer: adam
# Change to run DP baseline.
central_privacy_mechanism: none
#- central_privacy_mechanism: gaussian_moments_accountant
central_order: 2
central_epsilon: 2.0
central_privacy_clipping_bound: 0.1
learning_rate: 0.1
cohort_size: 200
noise_cohort_size: 5000
# Faster simulation. Central val is used.
val_cohort_size: 0
max_num_user_images: 512
central_num_iterations: 5000
local_batch_size: 16
local_num_epochs: 2
local_learning_rate: 0.01
evaluation_frequency: 20
central_eval_batch_size: 512
pretrained: true

# Simulate I.I.D. data by ignoring user ID
# - dataset: flair_iid
mean_datapoints_per_user: 50 # estimated from dataset
datapoints_per_user_distribution: constant

#wandb_project_id: testing
add_all_arguments: true

# FedProx params from benchmark-algos/sweep-fedprox
mu: 0.01

# AdaFedProx override default params
adafedprox_metric_name: "Central val | macro loss"
adafedprox_adapt_frequency: 20

# SCAFFOLD override default params
scaffold_population: 41131
